* {
  box-sizing: border-box;
}
.whole-wrapper {
  min-width: 200px;
  margin: 0 auto;
  border: 1px solid grey;
}
.whole-wrapper .navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  height: 500px;
  background-image: url("https://lh3.googleusercontent.com/7VbailvtUIrwZuPsRBB9NPYV1iDQRz0cVl7_4xfntUyUKMCypr9WK0GkT1hKoFn0c1x2JRESXjFOM8sm0bQCBE5ekaBx6TVLAl12tC-BSaK8gKHSIh8wMEuEbTyLZJllnbMOibXXfQ=w2400");
  padding-bottom: 10px;
}
@media (min-width: 500px) {
  .whole-wrapper .navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}
.whole-wrapper .navigation h1 {
  text-align: center;
  padding-bottom: 100px;
  padding-top: 100px;
}
.accordion {
  display: inline-block;
  background-color: #eee;
  font-family: 'Work Sans', sans-serif;
  font-size: 3em;
  color: black;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  height: 30px;
  text-align: center;
  border: 1px solid #C12E6A;
  transition: 0.4s;
}
.accordion:hover {
  background-color: #C12E6A;
}
.accordion .active {
  background-color: #FBA423;
}
.panel {
  display: none;
}
.panel section {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 500px) {
  .panel {
    margin: 0 auto;
  }
}
@media (min-width: 800px) {
  .panel {
    margin: 0 auto;
  }
}
.panel .mission {
  text-align: center;
  padding: 40px;
  display: block;
}
.panel .donate {
  text-align: center;
  padding: 20px;
  height: 300px;
  background-image: url("https://lh3.googleusercontent.com/wyz4wenqdx_OYDjlgGNJfrmHPLfaRWaREZ1KvsHjNCip3b1WT4AXVAGkD0PC4VoZiYWCpXzKuPqG8vXwDoDcDngM5_VrhTbYarcFbaiiWUT0ToGiCMKYJsLF2657nCWExVwkauCTJA=w2400");
  background-size: 1600px;
  background-repeat: no-repeat;
  background-color: #FBA423;
  background-position-y: -350px;
  background-position-x: center;
}
.panel .donate button {
  width: 200px;
  height: 40px;
  border-radius: 30px;
  margin-top: 120px;
  font-family: 'Work Sans', sans-serif;
  font-size: 3em;
  cursor: pointer;
  border: 2px solid #FBA423;
}
.panel .donate button:hover {
  background-color: #303ef8;
  border: 3px solid white;
  color: white;
}
.panel .extra {
  background-color: #FBA423;
  height: 60px;
}
.panel .extra2 {
  background-color: #C12E6A;
  height: 10px;
}
.panel .share {
  text-align: center;
  padding: 20px;
  background-image: url("https://lh3.googleusercontent.com/vW3EPZKB80W0dToGp-V7C3OhL5Nf3fR6Vx0WHL8hOJLTJsB7wbk8sdA4Y19tGQKfd3TRFgXB7Mvxl1x8VeoeH32jR8_-8y9P-liO0MEGPPZwgAWAqdcgax8sLKaeMhRn54Prz1gCQw=w2400");
  background-size: 1800px;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
  color: white;
  font-size: 2em;
}
.panel .share button {
  cursor: pointer;
  width: 30%;
  height: 40px;
  border-radius: 30px;
  margin: 20px;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6em;
  border: 2px solid #FBA423;
}
.panel .share button:hover {
  background-color: #1d4e3e;
  border: 3px solid white;
  color: white;
}
@media (min-width: 800px) {
  .panel .share button {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    margin: 60px;
    font-family: 'Work Sans', sans-serif;
    border: 2px solid #FBA423;
  }
  .panel .share button:hover {
    background-color: darkgreen;
    border: 3px solid white;
    color: white;
  }
}
.panel .map {
  height: 400px;
}
.panel .stories {
  font-family: 'Work Sans', sans-serif;
}
.panel .stories h2 {
  text-align: center;
}
.panel .stories .topics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
}
@media (min-width: 500px) {
  .panel .stories .topics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}
.panel .stories .topics .tab {
  font-family: 'Work Sans', sans-serif;
  cursor: pointer;
  font-size: 2em;
  height: 30px;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  background-color: #303ef8;
  border: 1px solid black;
  margin: 2px;
  font-size: 3em;
  color: black;
  padding: 5px;
}
.panel .stories .topics .tab:hover {
  background-color: #FBA423;
}
@media (min-width: 500px) {
  .panel .stories .topics .tab {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding-top: 35px;
    background-image: url("https://lh3.googleusercontent.com/_PfMHv38JSGtpanPuWy0QpF__KXhAoxSa5NcvOzIZkf896xhh9AL--qfBbbyV6dK_xTxyZ6LehHcugBtr1Z0epBlf1PLEaMJwZYWyfB2WpH4Jx67UD5sQJFMnCVpUgCYvV6otgh1Bg=w2400");
    background-size: 150px;
    background-position: center;
    background-repeat: no-repeat;
    color: #FBA423;
    transition: 1s;
    -webkit-box-shadow: 2px 2px 5px 0px #000000;
    -moz-box-shadow: 2px 2px 5px 0px #000000;
    box-shadow: 2px 2px 5px 0px #000000;
  }
}
@media (min-width: 500px) {
  .panel .stories .topics .tab:hover {
    padding-top: 20px;
    color: white;
  }
}
.panel .stories .topics .active-tab {
  background-color: #C12E6A;
}
.panel .card-contain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: #eee;
  font-family: 'Work Sans', sans-serif;
  font-size: 3em;
  text-align: center;
}
@media (min-width: 500px) {
  .panel .card-contain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
}
@media (min-width: 800px) {
  .panel .card-contain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
}
.panel .card-contain .card {
  border: 2px solid #FBA423;
  width: 100%;
  margin: 10px 0;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: space-evenly;
  flex-direction: column;
}
@media (min-width: 500px) {
  .panel .card-contain .card {
    width: 35%;
    margin: 15px;
  }
}
@media (min-width: 800px) {
  .panel .card-contain .card {
    width: 25%;
    margin: 15px;
  }
}
.panel .card-contain .card .headline {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 20px;
}
.panel .card-contain .card .other-card-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.panel .card-contain .card .other-card-content p {
  margin: 0 10px;
}
.panel .card-contain .card .other-card-content .img-container {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}
.panel .card-contain .card .other-card-content .img-container img {
  object-fit: cover;
  width: 100%;
  margin-bottom: 10px;
}
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  margin: 0 auto;
  font-size: 62.5%;
}
html h1,
body h1 {
  font-size: 6em;
  color: white;
  font-family: 'Work Sans', sans-serif;
}
html h2,
body h2 {
  font-size: 4em;
  font-family: 'Work Sans', sans-serif;
}
