


* {
    box-sizing: border-box;
  }



.whole-wrapper {
    min-width: 200px;
    margin: 0 auto;
    border: 1px solid grey;
    .navigation {
        .custom-flex(flex-end, space-around, column);
        width: 100%;
        margin: 0 auto;
        height: 500px;
        background-image: url("https://lh3.googleusercontent.com/7VbailvtUIrwZuPsRBB9NPYV1iDQRz0cVl7_4xfntUyUKMCypr9WK0GkT1hKoFn0c1x2JRESXjFOM8sm0bQCBE5ekaBx6TVLAl12tC-BSaK8gKHSIh8wMEuEbTyLZJllnbMOibXXfQ=w2400");
        padding-bottom: 10px;
        @media @tablet {
            .custom-flex(center, center, column);
        }

        
        h1 {
            text-align: center;
            padding-bottom: 100px;
        }
        nav {
            .custom-flex(space-around, center, column);
            width: 100%;
            
            @media @tablet {
                .custom-flex(space-around, center, row);
                width: 80%;
            }
        }
        a {
            text-decoration: none;
            font-family: 'Work Sans', sans-serif;
            text-align: center;
            color: white;
            width: 97%;
            height: 40px;
            background-color: #eee;
            border-radius: 20px;
            border: 3px solid rgb(247, 22, 135);
            margin: 2px;
            font-size: 3em;
            color: rgb(247, 22, 135);
            padding: 5px;
            &:hover {
                background-color: rgb(48, 62, 248);
                border: 3px solid white;
                color: white;
            }
            
            @media @tablet {
                padding: 5px;
                margin: 5px;
            }
            @media @desktop {
                padding: 5px;
                margin: 5px;
            }
            
        }
    }
    section {
        width: 100%;
        margin: 0 auto;
    }

    @media @tablet {
        border: 1px solid red;
        margin: 0 auto;
    }

    @media @desktop {
        border: 1px solid blue;
        margin: 0 auto;
    }
    
    .mission {
        text-align: center;
        padding: 20px;
       
    }

    .donate {
        text-align: center;
        padding: 20px;
        background-image: url("https://lh3.googleusercontent.com/wyz4wenqdx_OYDjlgGNJfrmHPLfaRWaREZ1KvsHjNCip3b1WT4AXVAGkD0PC4VoZiYWCpXzKuPqG8vXwDoDcDngM5_VrhTbYarcFbaiiWUT0ToGiCMKYJsLF2657nCWExVwkauCTJA=w2400");
        background-size: 700px;
        background-repeat: no-repeat;
        background-color: orange;
        background-position: center; 
        
        
        button {
            width: 200px;
            height: 40px;
            border-radius: 30px;
            margin: 60px;
            font-family: 'Work Sans', sans-serif;
            font-size: 3em;
            border: 2px solid orange;
        }
    }
    .extra {
        background-color: orange;
        height: 60px;
    }


    .stories {
        font-family: 'Work Sans', sans-serif;
        h2 {
            text-align: center;
        }
        .topics {
            .custom-flex(space-around, center, row);
            flex-wrap: wrap;
            margin-bottom: 30px;
            .active-tab {
                background-color: rgb(247, 22, 135);
            }
        
            .tab {
            font-family: 'Work Sans', sans-serif;
            height: 40px; 
            width: 120px;
            border: 1px solid gray;
            text-align: center;
            border-radius: 10px;
            padding: 10px;
            background-color: #eee;
            &:hover {
                background-color: orange;
            }
            }

        }
        
    }

    .card-contain {
        .custom-flex(space-around, center, column);
        flex-wrap: wrap;
        width: 100%;
        background-color: #eee;
        @media @tablet {
            .custom-flex(space-evenly, center, row);
            width: 100%;
        }
        @media @desktop {
            .custom-flex(space-evenly, center, row);
            width: 100%;
        }
        .card {
            border: 2px solid orange;
            width: 100%;
            height: 200px;
            margin: 10px 0;
            border-radius: 20px;
            background-color: white; 
            .btm-color {
                width: 100%;
                height: 50px;
                background-color: orange;
                margin-top: 140px;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
            }
           @media @tablet {
               width: 40%;

           }
        }
    }
}